@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,700,800');
/*
	FRESH.CSS
	Fresh.css is a responsive CSS and JavaScript Framework for light web apps and sites. Created by Hunter Ball.
	
	Version 1.0.0: The OFFICIAL release of Fresh.css!!!
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Additions:
	- Added CSS Variables for advanced customization of almost EVERY single element
	- Added .disabled class functionality for buttons
	- Added navigation prioritization with the .nav-priority class
	- Added Footer-Buttons for cards, to allow more customization
	Changes:
	- Changed the look of Navigation as a whole to look more sleek and modern
		- Side Nav has been completely revamped to create a cleaner experience for all display sizes
		- Dropdowns can now also have disabled items
	
	
*/
/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
/*Customizable Root Variables*/
:root {
	/*
	MAIN VARIABLES
	Used to control the default colors for everything.
	*/
	--color-primary: #ffffff;
	--text-primary: #000000;
	--color-secondary: #f0f0f0;
	--text-secondary: #404040;
	--color-accent: #FEAC24;
	--text-accent: #ffffff;
	/*
	ADVANCED CUSTOMIZATION
	For those who want to customize the overall experience of Fresh. Will be added later
	*/
	--nav-color: var(--color-accent);
	--nav-text: var(--text-accent);
	--button-color: var(--color-accent);
	--button-text: var(--text-accent);
	--blockquote-border: var(--color-accent);
	--blockquote-color: rgba(0,0,0,0.05);
	--blockquote-text: var(--text-primary);
	--card-header-color: var(--color-accent);
	--card-header-text: var(--text-accent);
	--card-color: var(--color-primary);
	--card-text: var(--text-primary);
	--card-footer-color: var(--color-accent);
	--card-footer-text: var(--text-accent);
	--table-text: var(--text-secondary);
	--footer-color: var(--color-primary);
	--footer-text: var(--text-primary);
}
/*
BASIC ELEMENTS
*/
html {
	font-size: 18px;
}
body { 
	background-color: var(--color-secondary);
}
h1, h2, h3, h4, h5, h6, p, a, blockquote, tr, th, td, table, li, input {
	line-height: 1.25;
	font-family: 'Sarabun', sans-serif;
}
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2.25rem;
	font-weight: 400;
}	
h4 {
	font-size: 1.65rem;
	font-weight: 400;
}
h5 {
	font-size: 1.25rem;
	font-weight: 400;
}
h6 {
	font-size: 1.05rem;
	font-weight: 400;
	font-style: italic;
}
p {
	font-size: 1rem;
	margin: 0;
}
a, tr, td, th, table, li {
	font-size: 1rem;
}
blockquote {
	font-family: monospace;
	padding: 5px 10px;
	margin: 15px 0;
	border-left: 4px solid var(--blockquote-border);
	font-size: 0.9rem;
	width: 100%;
	box-sizing: border-box;
	overflow-wrap: break-word;
	background-color: var(--blockquote-color);
	color: var(--blockquote-text);
}
hr {
	border-style: inset;
  border-width: 1px;
  border: 1px solid;
}
/*
NAVIGATION
  - Mobile Top-Nav
*/
.nav.mobile {
	display: none;
}
.nav {
	width: 100%;
	background-color: var(--nav-color);
	color: var(--nav-text);
	padding: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	z-index: 1000;
	box-sizing: border-box;
}
.nav.nav-priority {
	z-index:6000;
}
.nav .item, .nav .title, .nav .nav-trigger, .nav a {
	color: inherit;
}
.nav .item, .nav .dropdown .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
	transition: 0.25s ease-in-out;
	opacity: 0.8;
}
.nav .item.disabled {
	opacity: 0.75;
}
.nav .item.disabled:hover {
	opacity: 0.75;
	cursor: default;
}
.nav > .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
	padding: 7.5px 15px;
	font-weight: 800;
	font-size: 1.15rem;
}
.nav.top {
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: visible;
	padding: 0 85px;
}
.nav.sticky {
	overflow-x: visible;
	padding: 0 85px;
	position: sticky;
	top: 0;
}
.nav.top.nav-side, .nav.sticky.nav-side {
	padding-left: 335px;
}
.nav.top > .title, .nav.sticky > .title {
	padding: 7.5px 15px;
	font-weight: 800;
	font-size: 1.15rem;
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
}
.nav.top .item, .nav.sticky .item, .nav.top .dropdown .title, .nav.sticky .dropdown .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
}
.nav.top a.active, .nav.sticky a.active {
	font-weight: 700;
}
.nav.dark .item:hover, .nav.dark .dropdown:hover .title {
	background-color: rgba(0,0,0,0.1);
}
.nav .item:hover, .nav .dropdown:hover .title {
	background-color: rgba(255,255,255,0.25);
	opacity: 1;
}
.nav .item.active:hover, .nav .item.disabled:hover {
	background-color: inherit;
	color: inherit;
}
/*- Side Navigation (Also Doubles as Mobile Hamburger Navigation)*/
.nav.side {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: visible;
	overflow-x: visible;
}
.nav.side a {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
}
.nav.side .item, .nav.side .dropdown .title {
	margin: 0;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0);
	transition: 0.25s ease-in-out;
}
.nav.side .item.active {
	font-weight: 700;
}
.nav.side .item:hover, .nav.side .dropdown:hover .title {
	background-color: rgba(255,255,255,0.25);
	padding-left: 25px;
}
.nav.side.dark .item:hover, .nav.side.dark .dropdown:hover .title {
	background-color: rgba(0,0,0,0.1);
}
.nav.side .item.active:hover, .nav.side .item.disabled:hover {
	background-color: inherit;
	color: inherit;
	padding-left: 20px;
	cursor: default;
}
.nav.side > .title {
	display: table-cell;
  vertical-align: bottom;
	height: 175px;
	margin: 0;
	padding: 10px 20px;
	font-size: 2rem;
	font-weight: 700;
	vertical-align: bottom;
}
.nav.side hr {
	border-color: rgba(255,255,255,0.5);
}
.nav.side.dark hr {
	border-color: rgba(0,0,0,0.25);
}
.nav.side.mobile-only {
	display: none;
}
/*- Dropdown specific CSS for all navigations*/
.nav .dropdown {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: visible;
	display: inline-block;
}
.nav .dropdown .items {
	display: none;
	position: absolute;
	top: 48px;
	width: 100%;
	min-width: 150px;
	z-index: 2500;
	background-color: var(--color-accent);
	color: var(--text-accent);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.5);
}
.nav .dropdown:hover .items {
	display: block;
}
.nav .dropdown .items .item {
	padding: 7.5px 20px;
	background-color: rgba(255,255,255,0.125);
	width: 100%;
	box-sizing: border-box;
	display: block;
}
.nav .dropdown .items .item:hover {
	padding-left: 25px;
	background-color: rgba(255,255,255,0.25);
}
.nav .dropdown .items .item.disabled:hover {
	padding-left: 20px;
	background-color: rgba(255,255,255,0.125);
}
.nav.dark .dropdown .items{
	border-top: 1px solid rgba(0,0,0,0.25);
}
.nav.dark .dropdown .items .item {
	background-color: rgba(0,0,0,0.05);
}
.nav.dark .dropdown .items .item:hover {
	background-color: rgba(0,0,0,0.1);
}
.nav.dark .dropdown .items .item.disabled:hover {
	background-color: rgba(0,0,0,0.05);
}
.nav.side .dropdown {
	display: block;
}
.nav.side .dropdown .title {
	width: 100%;
	box-sizing: border-box;
}
.nav.side .dropdown .items {
	top: 0;
	left: 250px;
	width: 150px;
}
/*
MAIN CONTENT
  - Different Navigations
*/
.main {
	background-color: var(--color-secondary);
	color: var(--text-secondary);
}
.main.nav-side {
	margin-left: 250px;
}
.main.nav-top {
	margin-top: 50px;
}
/*- Content Containers*/
.main > .header {
	margin: 0;
	padding: 125px 100px 10px 100px;
	position: relative;
	box-sizing: border-box;
}
.main > .header.sticky {
	position: sticky;
	top: 0;
}
.main > .header * {
	position: absolute;
	bottom: 10px;
	left: 100px;
}
.main > .splash {
	padding: 100px 200px;
}
.main > .container {
	background-color: none;
	padding: 25px 100px;
}
.header-image {
	height: 70px;
	width: auto;
	margin: 0;
	padding: 0;
}
/*- Cards and Modals*/
.card {
	background-color: var(--card-color);
	color: var(--card-text);
	border-radius: 15px;
	margin-bottom: 20px;
}
.card .header {
	border-radius: 15px 15px 0 0;
	padding: 15px 20px 5px 20px;
	background-color: var(--card-header-color);
	color: var(--card-header-text);
}
.card .content {
	padding: 10px 20px;
	background-color: inherit;
	color: inherit;
	border-radius: 15px;
	position: relative;
}
.card .content .card-image {
	width: 100%;
	margin: 0;
	border-radius: 15px;
}
.card .footer {
	padding: 5px 20px;
	background-color: var(--card-footer-color);
	color: var(--card-footer-text);
	border-radius: 0 0 15px 15px;
	width: 100%;
	box-sizing: border-box;
}
.card .footer.button {
	border-radius: 15px;
	margin: 0;
	padding: 5px 20px;
	top: 5px;
}
.card .footer.button:hover {
	top: 0;
}
.card.clickable {
	transition: 0.25s;
	position: relative;
	top: 0;
}
.card.clickable:hover {
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	top: -5px;
	cursor: pointer;
}
.card.clickable .clicker {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}
/*- Buttons*/
.button {
	background-color: var(--button-color);
	color: var(--button-text);
	position: relative;
	top: 0;
	display: inline-block;
	padding: 5px 20px;
	margin: 10px 0;
	margin-right: 25px;
	text-align: center;
	transition: 0.25s;
	text-decoration: none;
}
.button:hover {
	top: -5px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}
.button:active {
	animation: button-click 0.25s ease-in-out;
}
.button.disabled {
	filter: brightness(80%);
	filter: grayscale(50%);
}
.button.disabled:hover {
	top: 0;
	box-shadow: none;
	cursor: default;
}
@keyframes button-click {
	0% {filter: brightness(100%);}
	50% {filter: brightness(120%);}
	100% {filter: brightness(100%);}
}
/*- Tables*/
table {
	border-collapse: collapse;
	table-layout: fixed;
	padding: 0;
	width: 100%;
	margin: 25px 0;
}
th, td {
	text-align: left;
	border-bottom: 1px solid var(--table-text);
	background-color: none;
	padding: 5px 15px 5px 0;
	color: var(--table-text);
}
th {
	font-weight: 700;
	font-size: 0.85rem;
}
td {
	font-size: 0.95rem;
	font-weight: 300;
}
/*Footers*/
.main > .footer {
	background-color: var(--footer-color);
	color: var(--footer-text);
	padding: 50px 100px;
	box-sizing: border-box;
	width: 100%;
	box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.15);
}
.main > .footer h1, .main > .footer h2, .main > .footer h3 {
	line-height: 1;
	padding: 0;
	font-weight: 700;
}
.main > .footer h1 {
	font-size: 1.75rem;
	margin-top: 0;
}
.main > .footer h2 {
	font-size: 1.5rem;
	margin-top: 0.25rem;
}
.main > .footer h3 {
	font-size: 1.125rem;
	margin-top: 0.625rem;
}
.main > .footer h4, .main > .footer h5, .main > .footer h6 {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	margin-top: 0.75rem;
	padding: 0;
	line-height: 1;
}
.main > .footer a {
	display: block;
	color: var(--footer-text);
	opacity: 0.6;
	text-decoration: none;
	margin: 5px 0;
	padding: 0;
	transition: 0.3s;
	box-sizing: border-box;
}
.main > .footer a:hover {
	opacity: 1;
	cursor: pointer;
	padding-left: 5px;
}
.main > .footer p {
	display: block;
	padding: 0;
	margin: 5px 0;
	color: var(--footer-text);
}
/*Utilities and Colors*/
	/*Floats and Clears*/
.left {
	float: left;
}
.right {
	float: right;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear:right;
}
.clear {
	clear: both;
}
	/*Text Alignment*/
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-just {
	text-align: justify;
}
	/*Flex-based Columns and Footer Sizing*/
.columns, .main > .footer {
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.columns .column, .footer .column {
	flex: 1 1 0;
}
.columns .column + .column, .footer .column + .column {
	margin-left: 50px;
}
	/*Utility Columns*/
.full, .half, .third, .two-thirds, .fourth, .three-fouths {
	box-sizing: border-box;
	margin-right: 50px;
}
.full {
	width: calc(100% - 50px);
}
.half {
	width: calc(50% - 50px);
}
.third {
	width: calc(calc(100% / 3) - 50px);
}
.two-thirds {
	width: calc(66.66% - 50px);
}
.fourth {
	width: calc(25% - 50px);
}
.three-fourths {
	width: calc(75% - 50px);
}
	/*Color Utilities*/
.primary{
	background-color: var(--color-primary);
	color: var(--text-primary);
}
.accent {
	background-color: var(--color-accent);
	color: var(--text-accent);
}
.secondary {
	background-color: var(--color-secondary);
	color: var(--text-secondary);
}
.text-primary {
	color: var(--text-primary);
}
.text-accent {
	color: var(--text-accent);
}
.text-secondary {
	color: var(--text-secondary);
}
.inv-primary{
	color: var(--color-primary);
	background-color: var(--text-primary);
}
.inv-accent {
	color: var(--color-accent);
	background-color: var(--text-accent);
}
.inv-secondary {
	color: var(--color-secondary);
	background-color: var(--text-secondary);
}
.color-primary {
	color: var(--color-primary);
}
.color-accent {
	color: var(--color-accent);
}
.color-secondary {
	color: var(--color-secondary);
}
@media screen and (max-width: 850px) {
	.t-no-display {
		display: none;
	}
	.nav.side {
		width: 250px;
	}
	.main.nav-side {
		margin-left: 250px;
	}
	.nav.top.nav-side, .nav.sticky.nav-side {
		margin-left: 250px;
	}
	.main > .header {
		padding: 75px 25px 17.5px 25px;
	}
	.main > .header * {
		left: 25px;
	}
	.main .container {
		padding: 25px;
	}
	table {
		margin: 10px 0;
		width: 100%;
		box-sizing: border-box;
		overflow: scroll;
		table-layout: auto;
		display: block;
		background-color: rgba(0,0,0,0.05);
	}
	td, th {
		font-size: 0.8rem;
		padding: 5px 10px;
	}
	.full {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.half {
		margin-left: 0;
		margin-right: 0;
		width: 50%;
	}
	.third {
		margin-left: 0;
		margin-right: 0;
		width: 33%;
	}
	.two-thirds {
		margin-left: 0;
		margin-right: 0;
		width: 66%;
	}
	.fourth {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
	}
	.three-fourths {
		margin-left: 0;
		margin-right: 0;
		width: 75%;
	}
	blockquote {
		width: 100%;
		background-color: rgba(0,0,0,0.05);
		box-sizing: border-box;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 700px) {
	.no-mobile {
		display: none;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2.1rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	.nav.mobile {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		z-index: 1000;
		background-color: var(--color-accent);
		color: var(--text-accent);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	}
	.nav.mobile .title {
		vertical-align: baseline;
	}
	.nav.mobile * {
		display: inline-block;
		padding: 10px;
		color: var(--text-accent);
		font-size: 1.25rem;
	}
	.nav.mobile .nav-trigger {
		padding: 10px 5px 10px 20px;
	}
	.nav-trigger:hover {
		cursor: pointer;
	}
	.nav.top, .nav.sticky {
		display: none;
	}
	.nav.side {
		position: fixed;
		top: 0;
		left: -300px;
		transition: 1s;
		background-color: white;
		color: black;
		z-index: 900;
	}
	.nav.side.active {
		left: 0;
	}
	.nav.side .item, .nav.side .title {
		color: black;
	}
	.nav.side .item:hover {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side .item.active {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side .item.active:hover {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side hr {
		border: 1px solid rgba(0,0,0,0.25);
	}
	.nav.side.mobile-only {
		display: block;
	}
	.main.nav-side {
		margin-left: 0;
	}
	.main > .header {
		padding: 60px 10px 10px 10px;
	}
	.main > .header * {
		left: 15px;
	}
	.main .container {
		padding: 15px;
	}
	.card {
		margin: 0;
		width: 100%;
	}
	.columns, .footer {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.columns .column, .footer .column {
		display: block;
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}
	.columns .column + .column, .footer .column + .column {
		margin: 0;
		margin-top: 25px;
	}
	.column.card + .column.card {
		margin-top: 25px;
	}
	.footer {
		padding: 25px 20px;
	}
	.m-full, .m-half, .m-third, .m-two-thirds, .m-fourth, .m-three-fourths {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.m-full {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	img.m-full, img.m-half, img.m-third, img.m-two-thirds, img.m-fourth, img.m-three-fourths {
		height: auto;
	}
	.m-half {
		margin-left: 0;
		margin-right: 0;
		width: 50%;
	}
	.m-third {
		margin-left: 0;
		margin-right: 0;
		width: 33%;
	}
	.m-two-thirds {
		margin-left: 0;
		margin-right: 0;
		width: 66%;
	}
	.m-fourth {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
	}
	.m-three-fourths {
		margin-left: 0;
		margin-right: 0;
		width: 75%;
	}
}
