@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,700,800');
/*Fresh.css: 1.0.0 Development Version*/
/*
	1.0.0 Additions:
		Pre-1.0.0e19-07-15
		- Added CSS Variables for advanced customization of almost EVERY single element
		- Added .disabled class functionality for buttons
		- Added navigation prioritization with the .nav-priority class
		- Added Footer-Buttons for cards, to allow more customization
		- Added .no-display side navigation to compliment .mobile-only navigation for different desktop and mobile menus
		- Added account elements for side navigations, including avatars and an info box next to/below for web apps
		- Added flush utility classes for padding on the sides, as well as flush-right and flush-left for one side
		1.0.0e19-07-15
		- Added spacer for side navigation, can also have the small or large classes added for different sizing
		- Added pill shape and rounded corner shape for buttons, default is square
		1.0.0e19-07-19
		- No additions this update, however javascript is in place and ready for the addition of modals
		1.0.0e19-07-20
		- Added Modals!
			- Different sizes are available by adding the small or large classes to Modals
			- Open and close specific modals by using the "data-modal" attribute and the modal's id
			- Create a modal-specific closing anchor with the "modal-trigger" anchor inside of the modal
			- CURRENTLY NOT RESPONSIVE: Will work on responsive in the coming few days
		- Added start of forms, inputs are now somewhat styled (for documentation right now)
			- Also NOT responsive yet
		1.0.0e19-07-23
		- Added font-weight classes
		- Added icon class for logos in top navigation
		- Added Active Footer item styling
		- Added square class to go with universal rounded and pill classes
		- Added js pre-support of alert, before css implementation
		1.0.0e19-07-29
		- Added Alerts!
			- Designed similarly to modals, as they are basically smaller bottom modals
			- As with modals, you can use the "trigger" class inside to create a top right button to close them
			- Alerts have special "warning" class that makes them red, just because this is an common function for them
		- Added responsive deisgn to modals (all three sizes)
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	1.0.0 Changes:
		Pre-1.0.0e19-07-15
		- Changed the look of Navigation as a whole to look more sleek and modern
			- Side Nav has been completely revamped to create a cleaner experience for all display sizes
			- Dropdowns can now also have disabled items
		- Changed look of cards to have more rounded feel, as well as card headers and card footers
		1.0.0e19-07-15
		- Changed some looks on mobile to perform and look better
		- Changed some of the design for headers, specifically on mobile
		1.0.0e19-07-19
		- Changed some nav element styling
		- Changing entire javascript file to remove JQuery Dependancies, wanted fresh to load fast and work without JQuery
		- Changed some of the JavaScript to make modals work when added
		1.0.0e19-07-20
		- Changed some javascript for allow clicking outside of Modals to close them
		1.0.0e19-07-23
		- Removed the useless header-image class
		- Changed transition speed for nav items
		- Changed rounded and pill classes to be utility classes available for all elements
		1.0.0e19-07-29
		- Changed headings and paragraphs to have spaces in between so you don't have to use <br> so often
		- changed javascript to optimize some functions
		- Changed "modal-trigger" class to "trigger" in order to fit with the "trigger" class for modals
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Hey fresh users! Currently, this is an EXPERIMENTAL version. This is not the final product, Use at your own risk, for things can be removed or broken within a few days. 
	Thanks for your support!
	- Hunter
*/
/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
/*Customizable Root Variables*/
:root {
	/*
	MAIN VARIABLES
	Used to control the default colors for everything.
	*/
	--color-primary: #ffffff;
	--text-primary: #000000;
	--color-secondary: #f0f0f0;
	--text-secondary: #404040;
	--color-accent: #FEAC24;
	--text-accent: #ffffff;
	/*
	ADVANCED CUSTOMIZATION
	For those who want to customize the overall experience of Fresh. Will be added later
	*/
	--nav-color: var(--color-accent);
	--nav-text: var(--text-accent);
	--button-color: var(--color-accent);
	--button-text: var(--text-accent);
	--blockquote-border: var(--color-accent);
	--blockquote-color: rgba(0,0,0,0.05);
	--blockquote-text: var(--text-primary);
	--card-header-color: var(--color-accent);
	--card-header-text: var(--text-accent);
	--card-color: var(--color-primary);
	--card-text: var(--text-primary);
	--card-footer-color: var(--color-accent);
	--card-footer-text: var(--text-accent);
	--modal-color: var(--color-primary);
	--modal-text: var(--text-primary);
	--alert-color: var(--color-primary);
	--alert-text: var(--text-primary);
	--table-text: var(--text-secondary);
	--footer-color: var(--color-primary);
	--footer-text: var(--text-primary);
}
/*BASIC ELEMENTS*/
html {
	font-size: 18px;
}
body { 
	background-color: var(--color-secondary);
}
h1, h2, h3, h4, h5, h6, p, a, blockquote, tr, th, td, table, li, input {
	line-height: 1.25;
	font-family: 'Sarabun', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2.25rem;
	font-weight: 400;
}	
h4 {
	font-size: 1.65rem;
	font-weight: 400;
}
h5 {
	font-size: 1.25rem;
	font-weight: 400;
}
h6 {
	font-size: 1.05rem;
	font-weight: 400;
	font-style: italic;
}
p {
	font-size: 1rem;
	margin: 0;
}
p + p {
	margin-top: 20px;
}
a, tr, td, th, table, li {
	font-size: 1rem;
}
blockquote {
	font-family: monospace;
	padding: 5px 10px;
	margin: 15px 0;
	border-left: 4px solid var(--blockquote-border);
	font-size: 0.9rem;
	width: 100%;
	box-sizing: border-box;
	overflow-wrap: break-word;
	background-color: var(--blockquote-color);
	color: var(--blockquote-text);
}
hr {
	border-style: inset;
  border-width: 1px;
  border: 1px solid;
}
/*
NAVIGATION
  - Mobile Top-Nav
*/
.nav.mobile {
	display: none;
}
.nav {
	width: 100%;
	background-color: var(--nav-color);
	color: var(--nav-text);
	padding: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	z-index: 1000;
	box-sizing: border-box;
}
.nav.nav-priority {
	z-index:6000;
}
.nav .item, .nav .title, .nav .nav-trigger, .nav a {
	color: inherit;
}
.nav .item, .nav .dropdown .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	padding: 15px 20px;
	vertical-align: middle;
	line-height: 1;
	transition: 0.15s ease-in-out;
	opacity: 1;
}
.nav .item.active {
	opacity: 1;
	font-weight: 700;
}
.nav .item.active:hover {
	cursor: default;
}
.nav .item.disabled {
	opacity: 0.75;
}
.nav .item.disabled:hover {
	opacity: 0.75;
	cursor: default;
	background-color: inherit;
}
.nav > .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
	padding: 15px 20px;
	font-weight: 800;
	font-size: 1.15rem;
}
.nav .icon {
	display:inline-block;
	height: 35px;
	padding: 0;
	margin: 0 -20px 0 20px;
	box-sizing: border-box;
	vertical-align: middle;
}
.nav.top, .nav.sticky {
	top: 0;
	padding: 0 80px;
	overflow-x: visible;
}
.nav.top {
	position: fixed;
	left: 0;
}
.nav.sticky {
	position: sticky;
}
.nav.top .title, .nav.sticky .title {
	padding: 14px 20px;
}
.nav.top.flush, .nav.sticky.flush {
	padding: 0;
}
.nav.top.flush-left, .nav.sticky.flush-left {
	padding-left: 0;
}
.nav.top.no-flush-right, .nav.sticky.flush-right {
	padding-right: 0;
}
.nav.top.nav-side, .nav.sticky.nav-side {
	padding-left: 335px;
}
.nav.top .item.active, .nav.sticky .item.active {
	font-weight: 700;
}
.nav.dark .item:hover, .nav.dark .dropdown:hover .title {
	background-color: rgba(0,0,0,0.1);
}
.nav .item:hover, .nav .dropdown:hover .title {
	background-color: rgba(255,255,255,0.25);
	opacity: 1;
}
.nav .item.active:hover, .nav .item.disabled:hover {
	background-color: inherit;
	color: inherit;
	cursor: default;
}
/*- Side Navigation (Also Doubles as Mobile Hamburger Navigation)*/
.nav.side {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: visible;
	overflow-x: visible;
}
.nav.side.nav-top {
	padding-top: 50px;
}
.nav.side a {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
}
.nav.side .item, .nav.side .dropdown .title {
	margin: 0;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0);
	transition: 0.25s ease-in-out;
}
.nav.side .item.active {
	font-weight: 700;
}
.nav.side .item:hover, .nav.side .dropdown:hover .title {
	background-color: rgba(255,255,255,0.25);
	padding-left: 25px;
}
.nav.side.dark .item:hover, .nav.side.dark .dropdown:hover .title {
	background-color: rgba(0,0,0,0.1);
}
.nav.side .item.active:hover, .nav.side .item.disabled:hover {
	background-color: inherit;
	color: inherit;
	padding-left: 20px;
	cursor: default;
}
.nav.side > .title {
	margin: 10px 0 0 0;
	padding: 10px 20px;
	font-size: 2rem;
	font-weight: 700;
}
.nav.side hr {
	border-color: rgba(255,255,255,0.5);
}
.nav.side.dark hr {
	border-color: rgba(0,0,0,0.25);
}
.nav.side.mobile-only {
	display: none;
}
.nav.side .account {
	padding: 75px 20px 10px 20px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.nav.side.dark .account {
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.nav.side .account .avatar {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.nav.side .account .info {
	width: 150px;
	padding: 2.5px 10px;
	margin: 0;
	box-sizing: border-box;
}
.nav.side .account p, .nav.side .account .item {
	font-size: 0.9rem;
	padding: 0;
}
.nav.side .account .item {
	opacity: 0.6;
}
.nav.side .account .item:hover {
	padding-left: 0;
	opacity: 1;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
}
/*- Dropdown specific CSS for all navigations*/
.nav .dropdown {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: visible;
	display: inline-block;
}
.nav .dropdown .items {
	display: none;
	position: absolute;
	top: 48px;
	width: 100%;
	min-width: 150px;
	z-index: 2500;
	background-color: var(--color-accent);
	color: var(--text-accent);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.5);
}
.nav .dropdown:hover .items {
	display: block;
}
.nav .dropdown .items .item {
	padding: 7.5px 20px;
	background-color: rgba(255,255,255,0.125);
	width: 100%;
	box-sizing: border-box;
	display: block;
}
.nav .dropdown .items .item:hover {
	padding-left: 25px;
	background-color: rgba(255,255,255,0.25);
	cursor: pointer;
}
.nav .dropdown .items .item.disabled:hover {
	padding-left: 20px;
	background-color: rgba(255,255,255,0.125);
}
.nav.dark .dropdown .items{
	border-top: 1px solid rgba(0,0,0,0.25);
}
.nav.dark .dropdown .items .item {
	background-color: rgba(0,0,0,0.05);
}
.nav.dark .dropdown .items .item:hover {
	background-color: rgba(0,0,0,0.1);
}
.nav.dark .dropdown .items .item.disabled:hover {
	background-color: rgba(0,0,0,0.05);
}
.nav.side .dropdown {
	display: block;
}
.nav.side .dropdown .title {
	width: 100%;
	box-sizing: border-box;
}
.nav.side .dropdown .items {
	top: 0;
	left: 250px;
	width: 150px;
}
/*
MAIN CONTENT
  - Different Navigations
*/
.main {
	background-color: var(--color-secondary);
	color: var(--text-secondary);
}
.main.nav-side {
	margin-left: 250px;
}
.main.nav-top {
	margin-top: 50px;
}
/*- Content Containers*/
.main > .header {
	margin: 0;
	padding: 75px 100px 10px 100px;
	position: relative;
	box-sizing: border-box;
}
.main > .header.sticky {
	position: sticky;
	top: 0;
}
.main > .splash {
	padding: 100px 200px;
}
.main > .container {
	background-color: none;
	padding: 25px 100px;
}
/*- Cards*/
.card {
	background-color: var(--card-color);
	color: var(--card-text);
	border-radius: 15px;
	margin-bottom: 20px;
}
.card .header {
	border-radius: 15px 15px 0 0;
	padding: 15px 20px 5px 20px;
	background-color: var(--card-header-color);
	color: var(--card-header-text);
}
.card .content {
	padding: 10px 20px;
	background-color: var(--card-color);
	color: var(--card-text);
	border-radius: 15px;
	position: relative;
}
.card .content img {
	width: 100%;
	margin: 0;
	border-radius: 15px;
}
.card .footer {
	padding: 5px 20px;
	background-color: var(--card-footer-color);
	color: var(--card-footer-text);
	border-radius: 0 0 15px 15px;
	width: 100%;
	box-sizing: border-box;
}
.card .footer.button {
	border-radius: 15px;
	margin: 0;
	padding: 5px 20px;
	top: 5px;
}
.card .footer.button:hover {
	top: 0;
}
.card.clickable {
	transition: 0.25s;
	position: relative;
	top: 0;
}
.card.clickable:hover {
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	top: -5px;
	cursor: pointer;
}
.card.clickable .clicker {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}
/*- Modals and Alerts*/
.modal, .alert {
	position: fixed;
	box-sizing: border-box;
	transition: 0.25s;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
.modal {
	top: 80vh;
	left: 50vw;
	height: 500px;
	width: 800px;
	margin-left: -400px;
	margin-top: -250px;
	background-color: var(--modal-color);
	color: var(--modal-text);
	z-index: 10000;
	overflow-y: scroll;
	padding: 25px 50px;
}
.modal.small {
	height: 250px;
	width: 500px;
	margin-left: -250px;
	margin-top: -125px;
	padding: 20px 40px;
}
.modal.large {
	height: calc(100vh - 150px);
	margin-top: calc(-50vh + 75px);
	width: calc(100vw - 100px);
	margin-left: calc(-50vw + 50px);
}
.modal.active {
	opacity: 1;
	top: 50vh;
	visibility: visible;
}
.alert {
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	width: 100vw;
	padding: 15px 35px;
	z-index: 9000;
	background-color: var(--alert-color);
	color: var(--alert-text);
}
.alert.warning {
	background-color: red;
	color: white;
	font-weight: 700;
}
.alert.active {
	visibility: visible;
	opacity: 1;
}
.modal .trigger, .alert .trigger {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 0;
	margin: 0;
	line-height: 1;
	font-size: 2rem;
	cursor: pointer;
	opacity: 0.5;
	transition: 0.25s;
	font-weight: 700;
}
.modal .trigger:hover, .alert .trigger:hover {
	opacity: 1;
}

/*- Buttons*/
.button {
	background-color: var(--button-color);
	color: var(--button-text);
	position: relative;
	top: 0;
	display: inline-block;
	padding: 10px 20px;
	margin: 10px 0;
	margin-right: 25px;
	text-align: center;
	transition: 0.25s;
	text-decoration: none;
}
.button.small {
	padding: 5px 10px;
}
.button.large {
	padding: 15px 25px;
}
.button.column {
	margin-right: 0;
}
.button.rounded {
	border-radius: 10px;
}
.button.pill {
	border-radius: 9999px;
}
.button:hover {
	top: -5px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}
.button:active {
	animation: button-click 0.25s ease-in-out;
}
.button.disabled {
	filter: brightness(80%);
	filter: grayscale(50%);
}
.button.disabled:hover {
	top: 0;
	box-shadow: none;
	cursor: default;
}
@keyframes button-click {
	0% {filter: brightness(100%);}
	50% {filter: brightness(120%);}
	100% {filter: brightness(100%);}
}
/*- Tables*/
table {
	border-collapse: collapse;
	table-layout: fixed;
	padding: 0;
	width: 100%;
	margin: 25px 0;
}
th, td {
	text-align: left;
	border-bottom: 1px solid var(--table-text);
	background-color: none;
	padding: 5px 15px 5px 0;
	color: var(--table-text);
}
th {
	font-weight: 700;
	font-size: 0.85rem;
}
td {
	font-size: 0.95rem;
	font-weight: 300;
}
/*- Forms*/
input {
	padding: 5px 10px;
	margin: 5px 0;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 10px;
	font-size: 0.85rem;
	box-sizing: border-box;
}
input:focus {
	outline: none;
}
input.full {
	width: 100%;
	margin-right: 0;
}
/*Footers*/
.main > .footer {
	background-color: var(--footer-color);
	color: var(--footer-text);
	padding: 50px 100px;
	box-sizing: border-box;
	width: 100%;
	box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.15);
}
.main > .footer h1, .main > .footer h2, .main > .footer h3 {
	line-height: 1;
	padding: 0;
	font-weight: 700;
}
.main > .footer h1 {
	font-size: 1.75rem;
	margin-top: 0;
}
.main > .footer h2 {
	font-size: 1.5rem;
	margin-top: 0.25rem;
}
.main > .footer h3 {
	font-size: 1.125rem;
	margin-top: 0.625rem;
}
.main > .footer h4, .main > .footer h5, .main > .footer h6 {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	margin-top: 0.75rem;
	padding: 0;
	line-height: 1;
}
.main > .footer .item {
	display: block;
	color: var(--footer-text);
	opacity: 0.6;
	text-decoration: none;
	margin: 5px 0;
	padding: 0;
	transition: 0.3s;
	box-sizing: border-box;
}
.main > .footer .item:hover {
	opacity: 1;
	cursor: pointer;
	padding-left: 5px;
}
.main > .footer .item.active {
	opacity: 0.6;
	font-weight: 700;
}
.main > .footer .item.active:hover {
	opacity: 0.6;
	padding-left: 0;
}
.main > .footer p {
	display: block;
	padding: 0;
	margin: 5px 0;
	color: var(--footer-text);
}
/*Utilities and Colors*/
	/*Floats and Clears*/
.left {
	float: left;
}
.right {
	float: right;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear:right;
}
.clear {
	clear: both;
}
	/*Text Adjustments*/
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-just {
	text-align: justify;
}
.text-extra-bold {
	font-weight: 800;
}
.text-bold {
	font-weight: 700;
}
.text-book {
	font-weight: 400;
}
.text-light {
	font-weight: 300;
}
	/*General Alignment*/
.flush {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
.flush-left {
	padding-left: 0;
	margin-left: 0;
}
.flush-right {
	padding-right: 0;
	margin-right: 0;
}
	/*Flex-based Columns and Footer Sizing*/
.columns, .main > .footer {
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.columns .column, .main > .footer .column {
	flex: 1 1 0;
}
.columns .column + .column, .main > .footer .column + .column {
	margin-left: 50px;
}
	/*Utility Columns*/
.full, .half, .third, .two-thirds, .fourth, .three-fouths {
	box-sizing: border-box;
	margin-right: 50px;
}
.full {
	width: calc(100% - 50px);
}
.half {
	width: calc(50% - 50px);
}
.third {
	width: calc(calc(100% / 3) - 50px);
}
.two-thirds {
	width: calc(66.66% - 50px);
}
.fourth {
	width: calc(25% - 50px);
}
.three-fourths {
	width: calc(75% - 50px);
}
img.full, img.half, img.third, img.two-thirds, img.fourth, img.three-fourths {
	margin-right: 0;
}
img.half {
	width: 50%;
}
img.third {
	width: 33.3%;
}
img.two-thirds {
	width: 66.6%;
}
img.fourth {
	width: 25%;
}
img.three-fourths {
	width: 75%;
}
	/*Color Utilities*/
.primary{
	background-color: var(--color-primary);
	color: var(--text-primary);
}
.accent {
	background-color: var(--color-accent);
	color: var(--text-accent);
}
.secondary {
	background-color: var(--color-secondary);
	color: var(--text-secondary);
}
.text-primary {
	color: var(--text-primary);
}
.text-accent {
	color: var(--text-accent);
}
.text-secondary {
	color: var(--text-secondary);
}
.inv-primary{
	color: var(--color-primary);
	background-color: var(--text-primary);
}
.inv-accent {
	color: var(--color-accent);
	background-color: var(--text-accent);
}
.inv-secondary {
	color: var(--color-secondary);
	background-color: var(--text-secondary);
}
.color-primary {
	color: var(--color-primary);
}
.color-accent {
	color: var(--color-accent);
}
.color-secondary {
	color: var(--color-secondary);
}
/*Other*/
img.rounded {
	border-radius: 9999px;
}
.spacer {
	height: 50px;
}
.spacer.small {
	height: 25px;
}
.spacer.large {
	height: 75px;
}
.square {
	border-radius: 0;
}
.rounded {
	border-radius: 10px;
}
.pill {
	border-radius: 9999px;
}
@media screen and (max-width: 850px) {
	.no-tablet {
		display: none;
	}
	.nav.top.nav-side, .nav.sticky.nav-side {
		margin-left: 250px;
	}
	.nav.side {
		width: 250px;
	}
	.main.nav-side {
		margin-left: 250px;
	}
	.main > .header {
		padding: 75px 25px 17.5px 25px;
	}
	.main .container {
		padding: 25px;
	}
	table {
		margin: 10px 0;
		width: 100%;
		box-sizing: border-box;
		overflow-x: scroll;
		table-layout: auto;
		display: block;
		background-color: rgba(0,0,0,0.05);
	}
	td, th {
		font-size: 0.8rem;
		padding: 5px 10px;
		/*max-width: 50px;*/
	}
	.full, .half, .third, .two-thirds, .fourth, .three-fourths {
		margin-left: 0;
		margin-right: 10px;
	}
	.full {
		width: calc(100% - 10px);
	}
	.half {
		width: calc(50% - 10px);
	}
	.third {
		width: calc(33.33% - 10px);
	}
	.two-thirds {
		width: calc(66.66% - 10px);
	}
	.fourth {
		width: calc(25% - 10px);
	}
	.three-fourths {
		width: calc(75% - 10px);
	}
	blockquote {
		width: 100%;
		background-color: rgba(0,0,0,0.05);
		box-sizing: border-box;
		font-size: 0.8rem;
	}
	.modal {
		height: calc(100vh - 200px);
		margin-top: calc(-50vh + 100px);
		width: calc(100vw - 50px);
		margin-left: calc(-50vw + 25px);
		padding: 25px 15px;
	}
	.modal.large {
		height: calc(100vh - 50px);
		margin-top: calc(-50vh + 25px);
		width: calc(100vw - 40px);
		margin-left: calc(-50vw + 20px);
	}
	.modal.small {
		height: calc(100vh - 400px);
		margin-top: calc(-50vh + 200px);
		width: calc(100vw - 50px);
		margin-left: calc(-50vw + 25px);
	}
}
@media screen and (max-width: 700px) {
	.no-mobile {
		display: none !important;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2.1rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	.nav.mobile {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		z-index: 1000;
		background-color: var(--color-accent);
		color: var(--text-accent);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	}
	.nav.mobile .title {
		vertical-align: baseline;
	}
	.nav.mobile * {
		display: inline-block;
		padding: 10px;
		color: var(--text-accent);
		font-size: 1.25rem;
	}
	.nav.mobile .nav-trigger {
		padding: 10px 5px 10px 20px;
	}
	.nav-trigger:hover {
		cursor: pointer;
	}
	.nav.top, .nav.sticky {
		display: none;
	}
	.nav.side {
		position: fixed;
		top: 50px;
		left: -300px;
		transition: 1s;
		background-color: white;
		color: black;
		z-index: 900;
	}
	.nav.side.active {
		left: 0;
	}
	.nav.side .item, .nav.side .title {
		color: black;
	}
	.nav.side .item:hover {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side .item.active {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side .item.active:hover {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side hr {
		border: 1px solid rgba(0,0,0,0.25);
	}
	.nav.side .spacer {
		height: 25px;
	}
	.nav.side.mobile-only {
		display: block;
	}
	.nav.side.no-mobile {
		display: none;
	}
	.main.nav-side {
		margin-left: 0;
	}
	.main.m-nav-top {
		margin-top: 50px;
	}
	.main > .header {
		padding: 25px 15px 5px 15px;
	}
	.main .container {
		padding: 15px;
	}
	.card {
		margin: 0;
		width: 100%;
	}
	.main > .footer {
		padding: 20px 50px;
	}
	.columns, .main > .footer {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.columns .column, .main > .footer .column {
		display: block;
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}
	.columns .column + .column, .main > .footer .column + .column {
		margin: 0;
		margin-top: 10px;
	}
	.main > .footer .column + .column {
		margin-top: 20px;
	}
	.column.card + .column.card {
		margin-top: 25px;
	}
	.footer {
		padding: 25px 20px;
	}
	.m-full, .m-half, .m-third, .m-two-thirds, .m-fourth, .m-three-fourths {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.m-full {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	img.m-full, img.m-half, img.m-third, img.m-two-thirds, img.m-fourth, img.m-three-fourths {
		height: auto;
	}
	.m-half {
		margin-left: 0;
		margin-right: 0;
		width: 50%;
	}
	.m-third {
		margin-left: 0;
		margin-right: 0;
		width: 33%;
	}
	.m-two-thirds {
		margin-left: 0;
		margin-right: 0;
		width: 66%;
	}
	.m-fourth {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
	}
	.m-three-fourths {
		margin-left: 0;
		margin-right: 0;
		width: 75%;
	}
	.modal .trigger, .alert .trigger {
		opacity: 1;
	}
}
