@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,700,800');
/*
	FRESH.CSS
	Fresh.css is a responsive CSS and JavaScript Framework for light web apps and sites. Created by Hunter Ball.
	Version 0.2.0:
  - Changed side navigation to look a bit nicer.
  - Redesigned Footers and how they look/work, now work with columns
    - Proper footer headings and word-spacing
    - Footers use the same flex system as columns, and the column class is used for each section underneath.
  - Changed Navigation Aspects
  	- Added Dropdowns for all navigations, cannot be nested yet
  	- Added Disabled Navigation items
  	- Added 'click out to close' functionality for mobile navigaiton
  	- Added ability to add side navigation for mobile navigation only using mobile-only class with .nav.side
  - Redesigned Buttons
  	- Added Disabled Buttons
  	- Buttons are now inline block elements so multiple buttons can fit together without specific widths
  	- Buttons now work with Flex and Utility Columns correctly
*/
/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}
/*Customizable Root Variables*/
:root {
	/*
	MAIN VARIABLES
	Used to control the default colors for everything.
	
	Primary Colors: Used for 
	
	*/
	--color-primary: #ffffff;
	--text-primary: #000000;
	--color-secondary: #f0f0f0;
	--text-secondary: #404040;
	--color-accent: #FEAC24;
	--text-accent: #ffffff;
	/*Advanced Customizations: For those who want to customize the overall experience of Fresh. Will be added later*/
	margin: 0;
}
/*Element Stylings*/
html {
	font-size: 18px;
}
body { 
	background-color: var(--color-secondary);
}
h1, h2, h3, h4, h5, h6, p, a, blockquote, tr, th, td, table, li, input {
	line-height: 1.25;
	font-family: 'Sarabun', sans-serif;
}
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2.25rem;
	font-weight: 400;
}	
h4 {
	font-size: 1.65rem;
	font-weight: 400;
}
h5 {
	font-size: 1.25rem;
	font-weight: 400;
}
h6 {
	font-size: 1.05rem;
	font-weight: 400;
	font-style: italic;
}
p {
	font-size: 1rem;
	margin: 0;
}
a, blockquote, tr, td, th, table, li {
	font-size: 1rem;
}
blockquote {
	font-family: monospace;
	padding: 5px 10px;
	margin: 15px 0;
	border-left: 4px solid var(--color-accent);
	font-size: 0.9rem;
	width: 100%;
	box-sizing: border-box;
	overflow: scroll;
	background-color: rgba(0,0,0,0.05);
}
hr {
	border-style: inset;
  border-width: 1px;
  border: 1px solid;
}
/*Navigation*/
/*  Mobile Top-Nav*/
.nav.mobile {
	display: none;
}
.nav {
	width: 100%;
	background-color: var(--color-accent);
	color: var(--text-accent);
	padding: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	z-index: 2000;
}
.nav .item, .nav .dropdown .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--text-accent);
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
	transition: 0.25s ease-in-out;
}
.nav .item.disabled {
	opacity: 0.75;
}
.nav > .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--text-accent);
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
	padding: 7.5px 15px;
	font-weight: 800;
	font-size: 1.15rem;
}
.nav.top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-accent);
	color: var(--text-accent);
	overflow-x: visible;
	padding: 0 85px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	z-index: 2000;
	box-sizing: border-box;
}
.nav.sticky {
	background-color: var(--color-accent);
	color: var(--text-accent);
	overflow-x: visible;
	padding: 0 85px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	position: sticky;
	top: 0;
	box-sizing: border-box;
}
.nav.top.nav-side, .nav.sticky.nav-side {
	margin-left: 300px;
}
.nav.top > .title, .nav.sticky > .title {
	padding: 7.5px 15px;
	font-weight: 800;
	font-size: 1.15rem;
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--text-accent);
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
}
.nav.top .item, .nav.sticky .item, .nav.top .dropdown .title, .nav.sticky .dropdown .title {
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--text-accent);
	padding: 15px;
	vertical-align: middle;
	line-height: 1;
}
.nav.top a.active, .nav.sticky a.active {
	font-weight: 700;
}
.nav.dark .item:hover, .nav.dark .dropdown:hover .title {
	background-color: rgba(0,0,0,0.1);
}
.nav .item:hover, .nav .dropdown:hover .title {
	background-color: rgba(255,255,255,0.25);
}
.nav .item.active:hover, .nav .item.disabled:hover {
	background-color: var(--color-accent);
}
/*  Side Navigation (Also Doubles as Mobile Hamburger Navigation)*/
.nav.side {
	width: 300px;
	height: 100vh;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 1px 0 5px 0 rgba(0,0,0,0.3);
	background-color:var(--color-accent);
	overflow-y: visible;
	overflow-x: visible;
}
.nav.side a {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--text-accent);
}
.nav.side .item, .nav.side .dropdown .title {
	margin: 0;
	padding: 10px 30px;
	background-color: rgba(0,0,0,0);
	transition: 0.25s ease-in-out;
	color: var(--text-accent);
}
.nav.side .item.active {
	font-weight: 700;
}
.nav.side .item:hover, .nav.side .dropdown:hover .title {
	background-color: rgba(255,255,255,0.25);
	padding-left: 35px;
}
.nav.side.dark .item:hover, .nav.side.dark .dropdown:hover .title {
	background-color: rgba(0,0,0,0.1);
}
.nav.side .item.active:hover, .nav.side .item.disabled:hover {
	background-color: var(--color-accent);
	padding-left: 30px;
	cursor: default;
}
.nav.side > .title {
	margin-top: 100px;
	padding: 10px 30px;
	font-size: 2rem;
	font-weight: 700;
}
.nav.side hr {
	border-color: rgba(255,255,255,0.5);
}
.nav.side.dark hr {
	border-color: rgba(0,0,0,0.25);
}
.nav.side.mobile-only {
	display: none;
}
/*  Dropdown specific CSS for all navigations*/
.nav .dropdown {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: visible;
	display: inline-block;
}
.nav.side .dropdown {
	display: block;
}
.nav .dropdown .items {
	display: none;
	position: absolute;
	top: 48px;
	width: 100%;
	min-width: 150px;
	z-index: 2500;
	background-color: var(--color-accent);
	color: var(--text-accent);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.5);
}
.nav.side .dropdown .title {
	width: 100%;
	box-sizing: border-box;
}
.nav.side .dropdown .items {
	top: 38px;
	width: 300px;
}
.nav.dark .dropdown .items{
	border-top: 1px solid rgba(0,0,0,0.25);
}
.nav .dropdown:hover .items {
	display: block;
}
.nav .dropdown .items .item {
	padding: 7.5px 45px;
	background-color: rgba(255,255,255,0.125);
	width: 100%;
	box-sizing: border-box;
	display: block;
}
.nav.dark .dropdown .items .item {
	padding: 7.5px 45px;
	background-color: rgba(0,0,0,0.05);
}
.nav .dropdown .items .item:hover {
	padding-left: 50px;
	background-color: rgba(255,255,255,0.25);
}
.nav.dark .dropdown .items .item:hover {
	padding-left: 50px;
	background-color: rgba(0,0,0,0.1);
}
/*Main Content*/
/*  Different Navigations*/
.main {
	background-color: var(--color-secondary);
	color: var(--text-secondary);
}
.main.nav-side {
	margin-left: 300px;
}
.main.nav-top {
	margin-top: 45px;
}
/*- Content Containers*/
.main > .header {
	padding: 75px 100px 17.5px 100px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.main > .splash {
	padding: 100px 200px;
}
.main > .container {
	background-color: none;
	padding: 25px 100px;
}
.header-image {
	height: 70px;
	width: auto;
	margin: 0;
	padding: 0;
}
/*- Cards and Modals*/
.card {
	background-color: var(--color-primary);
	color: var(--text-primary);
}
.card + .card {
	margin-top: 20px;
}
.column.card + .column.card {
	margin-top: 0;
}
.card.white {
	background-color: white;
	color: black;
}
.card.dark {
	background-color: black;
	color: white;
}
.card .header {
	padding: 5px 12.5%;
	background-color: var(--color-accent);
	color: var(--text-accent);
}
.card .content {
	padding: 10px 20px;
}
.card .footer {
	padding: 5px 12.5%;
	background-color: var(--color-accent);
	color: var(--text-accent);
}
.button {
	background-color: var(--color-accent);
	color: var(--text-accent);
	position: relative;
	top: 0;
	display: inline-block;
	padding: 5px 20px;
	margin: 10px 0;
	margin-right: 25px;
	text-align: center;
	transition: 0.25s;
	text-decoration: none;
}
.button:hover {
	top: -5px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}
.card.clickable {
	transition: 0.25s;
	position: relative;
	top: 0;
}
.card.clickable:hover {
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
	top: -5px;
	cursor: pointer;
}
.card.clickable .clicker {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}
/*- Tables*/
table {
	border-collapse: collapse;
	table-layout: fixed;
	padding: 0;
	width: 100%;
	margin: 25px 0;
}
th, td {
	text-align: left;
	border-bottom: 1px solid var(--text-secondary);
	background-color: none;
	padding: 5px 15px 5px 0;
	color: var(--text-secondary);
}
th {
	font-weight: 700;
	font-size: 0.85rem;
}
td {
	font-size: 0.95rem;
	font-weight: 300;
	color: var(--text-secondary);
}
/*Footers*/
.footer {
	background-color: white;
	padding: 50px 100px;
	box-sizing: border-box;
	width: 100%;
	box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.15);
}
.footer h1, .footer h2, .footer h3 {
	line-height: 1;
	padding: 0;
	font-weight: 700;
}
.footer h1 {
	font-size: 1.75rem;
	margin-top: 0;
}
.footer h2 {
	font-size: 1.5rem;
	margin-top: 0.25rem;
}
.footer h3 {
	font-size: 1.125rem;
	margin-top: 0.625rem;
}
.footer h4, .footer h5, .footer h6 {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	margin-top: 0.75rem;
	padding: 0;
	line-height: 1;
}
.footer a {
	display: block;
	color: #404040;
	text-decoration: none;
	margin: 5px 0;
	padding: 0;
}
.footer a:hover {
	color: black;
	cursor: pointer;
}
.footer p {
	display: block;
	padding: 0;
	margin: 5px 0;
	color: black;
}
/*Utilities/Colors*/
	/*Floats and Clears*/
.left {
	float: left;
}
.right {
	float: right;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear:right;
}
.clear {
	clear: both;
}
	/*Text Alignment*/
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-just {
	text-align: justify;
}
	/*Flex-based Columns and Footer Sizing*/
.columns, .footer {
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.columns .column, .footer .column {
	flex: 1 1 0;
}
.columns .column + .column, .footer .column + .column {
	margin-left: 50px;
}
	/*Width Sizing*/
.full, .half, .third, .two-thirds, .fourth, .three-fouths {
	box-sizing: border-box;
	margin-right: 50px;
}
.full {
	width: calc(100% - 50px);
}
.half {
	width: calc(50% - 50px);
}
.third {
	width: calc(calc(100% / 3) - 50px);
}
.two-thirds {
	width: calc(66.66% - 50px);
}
.fourth {
	width: calc(25% - 50px);
}
.three-fourths {
	width: calc(75% - 50px);
}
	/*Color Utilities*/
.primary{
	background-color: var(--color-primary);
	color: var(--text-primary);
}
.accent {
	background-color: var(--color-accent);
	color: var(--text-accent);
}
.secondary {
	background-color: var(--color-secondary);
	color: var(--text-secondary);
}
.text-primary {
	color: var(--text-primary);
}
.text-accent {
	color: var(--text-accent);
}
.text-secondary {
	color: var(--text-secondary);
}
.inv-primary{
	color: var(--color-primary);
	background-color: var(--text-primary);
}
.inv-accent {
	color: var(--color-accent);
	background-color: var(--text-accent);
}
.inv-secondary {
	color: var(--color-secondary);
	background-color: var(--text-secondary);
}
.color-primary {
	color: var(--color-primary);
}
.color-accent {
	color: var(--color-accent);
}
.color-secondary {
	color: var(--color-secondary);
}
@media screen and (max-width: 850px) {
	.t-no-display {
		display: none;
	}
	.nav.side {
		width: 250px;
	}
	.main.nav-side {
		margin-left: 250px;
	}
	.nav.top.nav-side, .nav.sticky.nav-side {
		margin-left: 250px;
	}
	.main > .header {
		padding: 75px 25px 17.5px 25px;
	}
	.main .container {
		padding: 25px;
	}
	table {
		margin: 10px 0;
		width: 100%;
		box-sizing: border-box;
		overflow: scroll;
		table-layout: auto;
		display: block;
		background-color: rgba(0,0,0,0.05);
	}
	td, th {
		font-size: 0.8rem;
		padding: 5px 10px;
	}
	.full {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.half {
		margin-left: 0;
		margin-right: 0;
		width: 50%;
	}
	.third {
		margin-left: 0;
		margin-right: 0;
		width: 33%;
	}
	.two-thirds {
		margin-left: 0;
		margin-right: 0;
		width: 66%;
	}
	.fourth {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
	}
	.three-fourths {
		margin-left: 0;
		margin-right: 0;
		width: 75%;
	}
	blockquote {
		width: 100%;
		background-color: rgba(0,0,0,0.05);
		box-sizing: border-box;
		overflow: scroll;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 700px) {
	.no-mobile {
		display: none;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2.1rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	.nav.mobile {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		z-index: 1000;
		background-color: var(--color-accent);
		color: var(--text-accent);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	}
	.nav.mobile .title {
		vertical-align: baseline;
	}
	.nav.mobile * {
		display: inline-block;
		padding: 10px;
		color: var(--text-accent);
		font-size: 1.25rem;
	}
	.nav.mobile .nav-trigger {
		padding: 10px 5px 10px 20px;
	}
	.nav-trigger:hover {
		cursor: pointer;
	}
	.nav.top, .nav.sticky {
		display: none;
	}
	.nav.side {
		position: fixed;
		top: 0;
		left: -300px;
		transition: 1s;
		background-color: white;
		color: black;
		z-index: 900;
	}
	.nav.side.active {
		left: 0;
	}
	.nav.side .item, .nav.side .title {
		color: black;
	}
	.nav.side .item:hover {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side .item.active {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side .item.active:hover {
		background-color: rgba(0,0,0,0.05);
	}
	.nav.side hr {
		border: 1px solid rgba(0,0,0,0.25);
	}
	.nav.side.mobile-only {
		display: block;
	}
	.main.nav-side {
		margin-left: 0;
	}
	.main > .header {
		padding: 60px 10px 10px 10px;
	}
	.main .container {
		padding: 15px;
	}
	.card {
		margin: 0;
		width: 100%;
	}
	.columns, .footer {
		display: block;
	}
	.columns .column, .footer .column {
		display: block;
		width: 100%;
		margin: 0;
	}
	.columns .column + .column, .footer .column + .column {
		margin-left: 0;
		margin-top: 25px;
	}
	.column.card + .column.card {
		margin-top: 25px;
	}
	.footer {
		padding: 25px 20px;
	}
	.m-full, .m-half, .m-third, .m-two-thirds, .m-fourth, .m-three-fourths {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.m-full {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	img.m-full, img.m-half, img.m-third, img.m-two-thirds, img.m-fourth, img.m-three-fourths {
		height: auto;
	}
	.m-half {
		margin-left: 0;
		margin-right: 0;
		width: 50%;
	}
	.m-third {
		margin-left: 0;
		margin-right: 0;
		width: 33%;
	}
	.m-two-thirds {
		margin-left: 0;
		margin-right: 0;
		width: 66%;
	}
	.m-fourth {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
	}
	.m-three-fourths {
		margin-left: 0;
		margin-right: 0;
		width: 75%;
	}
}
